#navbar{
    display: flex;
    
}
#right{
    display: flex;
    padding-right: 10px;
    /* justify-content: space-between; */
    width: 40%;
    align-items: flex-end;
    
}
#name{
    width: 30%;
}
#menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-top: 50px;
    justify-content: center;

   
}
#menu > div > img{
    width: 90%;
    
}